@font-face {
    font-family: vazirFont;
    font-style: normal;
    font-weight: 10;
    src: url('eot/._Vazir-Thin-FD-UI.eot');
    src: url('eot/._Vazir-Thin-FD-UI.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/._Vazir-Thin-FD-UI.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/._Vazir-Thin-FD-UI.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: vazirFont;
    font-style: normal;
    font-weight: 200;
    src: url('eot/._Vazir-Light-FD-UI.eot');
    src: url('eot/._Vazir-Light-FD-UI.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/._Vazir-Light-FD-UI.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/._Vazir-Light-FD-UI.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: vazirFont;
    font-style: normal;
    font-weight: 300;
    src: url('eot/._Vazir-Light-FD-UI.eot');
    src: url('eot/._Vazir-Light-FD-UI.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/._Vazir-Light-FD-UI.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/._Vazir-Light-FD-UI.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: vazirFont;
    font-style: normal;
    font-weight: 500;
    src: url('eot/._Vazir-Medium-FD-UI.eot');
    src: url('eot/._Vazir-Medium-FD-UI.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/._Vazir-Medium-FD-UI.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/._Vazir-Medium-FD-UI.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: vazirFont;
    font-style: normal;
    font-weight: 600;
    src: url('eot/._Vazir-Bold-FD-UI.eot');
    src: url('eot/._Vazir-Bold-FD-UI.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/._Vazir-Bold-FD-UI.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/._Vazir-Bold-FD-UI.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: vazirFont;
    font-style: normal;
    font-weight: 750;
    src: url('eot/._Vazir-Bold-FD-UI.eot');
    src: url('eot/._Vazir-Bold-FD-UI.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/._Vazir-Bold-FD-UI.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/._Vazir-Bold-FD-UI.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: vazirFont;
    font-style: normal;
    font-weight: 800;
    src: url('eot/._Vazir-Bold-FD-UI.eot');
    src: url('eot/._Vazir-Bold-FD-UI.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/._Vazir-Bold-FD-UI.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/._Vazir-Bold-FD-UI.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: vazirFont;
    font-style: normal;
    font-weight: 900;
    src: url('eot/._Vazir-Black-FD-UI.eot');
    src: url('eot/._Vazir-Black-FD-UI.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/._Vazir-Black-FD-UI.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/._Vazir-Black-FD-UI.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: vazirFont;
    font-style: normal;
    font-weight: bold;
    src: url('eot/._Vazir-Bold-FD-UI.eot');
    src: url('eot/._Vazir-Bold-FD-UI.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/._Vazir-Bold-FD-UI.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/._Vazir-Bold-FD-UI.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: vazirFont;
    font-style: normal;
    font-weight: normal;
    src: url('eot/._Vazir-Regular-FD-UI.eot');
    src: url('eot/._Vazir-Regular-FD-UI.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('woff2/._Vazir-Regular-FD-UI.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('woff/._Vazir-Regular-FD-UI.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}